#element {
    width : 80%;
    margin-left : auto;
    margin-right : auto;
    margin-top: 20pt;
    padding: 10pt;

    border : 1px solid  #A9D0F5;
    border-radius : 15pt;
}

#question{
    width: 100%;
    text-align : center;
}

#answer {
    width: 40%;
    height: 30pt;
    display : block;
    margin-left : auto;
    margin-right : auto;
}

#submit {
    width : 40%;
    height: 30pt;
    display : block;

    margin-left : auto;
    margin-right : auto;
    margin-top : 20pt;

    background : #f5cea9;
    font-size : 15pt;

    color : black;
    border-radius: 10pt;
    border : 1px solid #f5cea9;

    cursor : pointer;
}

#correct_answer *{
    text-align : center;
}
